.body{
  display:flex;
  justify-content: center;
  align-items: center;
}
.orange{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  height: 80px;
  width: 100%;
  background-color: rgb(238, 228, 211);
  color: black;
}
.name{
  display: flex;
  margin-left: 130px;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight:500px;
  color: black;
  margin-bottom: 30px;
    }
  .name:hover{
      color: blue;
    }
  .name h5{
    outline: 2px solid black;
    }
   .seed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
}
.seed li{
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   margin: 20px;
   margin-top: 15px;
   text-decoration: none;
    font-weight: 480;
}
.seed :hover{ 
  color:blue;
  cursor: pointer;
}
.lastpart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 100px;
  color: black;
  margin-top: 30px;
  font-size: 25px;
}
.lastpart :hover{
  background-color: rgba(253, 241, 241, 0.908);
}
.don{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top:10px;
  color: black;
}
.don :hover{
  background-color: rgba(253, 241, 241, 0.908);
}
.don h3{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: black;
  font-size: 20px;
}
.signup{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  color: black;
 }
.signup button{
  height: 30px;
  margin-top: 30px;
  width: 70px;
  color: white;
  background-color: blue;
}
.signup :hover{
background-color: rgb(56, 56, 234);
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  color: blue;
  border: 1px solid black;
  margin-left: 150px;
 }
 .container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 400px;
  width: 100%;
  /* border: 2px solid red; */
  }
 
  .first{
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
background-color: black;  

}

.first karan{
  font-size: 18px;
  margin: 10px;
  font-weight: 500;
  color: white;
  
}
.first span{
  font-size: 15px;
  font-weight: 400;
  margin-top: 85px;
  color: white;
  margin: 8px;
}
.first button{
  background-color: yellow;
  margin: 10px;
  margin-top: 45px;
  border-radius: 10px;
}
 .second{
  display: flex;
  flex-direction: column;
  height: 270px; 
  width: 100%;
  /* border: 2px solid orange; */
}
.second ol{
  list-style-type: none;
  margin: 0px;
}
.second li{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.third{
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
  /* border: 2px solid yellow; */
}
.third ol{
  list-style-type: none;
  margin: 0px;
}
.third li{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.forth{
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
  /* border: 2px solid blue;  */
}
.forth ol{
  list-style-type: none;
  margin: 0px;
}
.forth li{
  margin: 18px;
  font-size: 15px;
  font-weight: 600;
}
.fifth{
  display: flex;
  flex-direction: column;
  height: 130px;
  background-color: black;
  width: 100%;
  border: 2px solid white;
}
.fifth h1{
  display: flex;
  flex-direction: column;
 font-size: 20px;
 font-weight: 500;
 color: white;
}
.fifth king{
  display: flex;
  flex-direction: column;
 font-size: 15px;
 font-weight: 500;
 color: white;
}
.sixth{
  display: flex;
  flex-direction: column;
  height: 130px;
  border-top: 2px solid black;
  width: 100%;
}
.sixth span1{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.sixth span2{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.seven{
  display: flex;
  flex-direction: column;
  height: 130px;
  border-top: 2px solid black;
  width: 100%;
}
.seven span3{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.seven span4{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.eight{
  display:flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  border-top: 2px solid black;
}
.eight span5{
  margin: 18px;
  font-size: 18px;
  font-weight: 600;
}
.eight span6{
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
}
.nine{
  display:flex;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 5;
  border: 2px solid black
  }
.nine graph{
  display: flex;
  font-size: 25px;
  margin: 12px;
}
.nine a{
  margin: 12px;
  font-size: 25px;
}
.main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height:100%;
  width: 100%;
  border: 2px solid orange;
  margin: 0px;
}
.current{
  height: 200px;
  width: 250px;
 margin: 0px;
  background-color: rgb(0, 0, 15);
}
.current h4{
  font-size: 18px;
  color: white;
  margin: 17px;
}
.current span5{
  font-size: 12px;
  color: white;
  margin: 5px;
}
.links a{
  display: flex;
  flex-direction: column;
  color: yellow;
  margin: 10px;
}
.ball{
  display: flex;
  height: 200px;
  width: 120px;
  /* border: 2px solid green; */
  border: 2px solid pink;
}
.ball ol{
  list-style: none;
  height: 200px;
  width: 250px;
  font-size: 25px;
  margin: 0px;
  /* margin: 25px; */
  /* border: 2px solid yellow; */
}
.ball li{
  height: 40px;
  margin: 10px;
  font-weight: 400;
  /* border: 2px solid green; */
}
.resources-3{
  display: flex;
  
  height: 200px;
  width: 150px;
  border: 2px solid green;
  /* border: 2px solid pink; */
}
.resources-3 ol{
  padding: 0px;
  
 
}
.resources-3 li{
 
}
  

.menu-open{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height:400px;
  width: 800px;
  color: rgba(0, 0, 0, 0.973);
  border: 1px solid black;
  margin-left: 200px;
}
.menu-close{
  display: none;
}



 
 
